{% extends 'nav.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head %}
    <title>About Page</title>
    {% endblock %}
</head>
<body>
    {% block body %}

    <div class="about-section" style="text-align: center;">
        <h1 style="font-family: montserrat;
    text-align: center;
    background-color:white;
    color:white;
    background-image: linear-gradient(rgba(100,60,60, 0.9),rgba(100,60,60, 0.9)),url('https://img.etimg.com/thumb/msid-45280104,width-1200,height-900,imgsize-196222,overlay-etpanache/photo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 30px;">About Us</h1>
        <img src="https://images.unsplash.com/photo-1546422904-90eab23c3d7e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=872&q=80" style="width:50%;height: 50%;height: 320px;
    float:left;
    border-radius: 5px;padding-top: 100px;padding-left: 100px;">
    <h2 style="padding-top: 100;">Thank you</h2>
        <p style="text-align:center;padding-right: 100px;padding-left:800px ;padding-top: 50px;">As world’s technology is rapidly growing we has fast
connection and network to instantly connect to other person.
Day to day use in mobile, tablets and laptop is increasing, most
of the people already have this facilities. In this fast and
information oriented world we need to stay updated with every
incidents and news too. This News app is android mobile
application where user have access to latest news from 120+
newspapers from 50+ countries. The main focus of this
application is to connect news articles from all around the
world and deliver it to user as fast as possible in best visualize
way.</p>
      </div>
      
              
        
    {% endblock %}
    
</body>
</html>