{% extends 'base.html' %} {% block head %}
<title>About</title>
{% endblock %} {% block body %}

<div class="card p-5 align-items-center">
  <div class="d-flex align-items-center">
    <img
      src="../static/news logo.png"
      alt="news tracker application"
      height="75rem"
      width="75rem"
    />
    <h1>NEWS TRACKER APPLICATION TEAM</h1>
  </div>
<ol>
  <li>PRIYADHARSHINI.S - TEAM LEADER</li>
    <li>BHARATHI.S - MEMBER</li>
    <li>PAVITHRA.S - MEMBER</li>
    <li>SARANYA.S - MEMBER</li>
    </ol>
  
</div>

{% endblock %}